/tc_malloc
/tc_calloc
/tc_valloc
/tc_pvalloc
/tc_realloc
/tc_version
/tc_posix_memalign
/tc_nallocx
/tc_memalign
/tc_mallopt
/tc_malloc_stats
/tc_malloc_skip_new_handler
/tc_malloc_stats
/tc_mallinfo
/tc_free_sized
/tc_cfree
/GetHeapProfile
/GetStackFrames
/GetStackTrace
/HeapProfilerStart
/IsHeapProfilerRunning
/MallocExtension_VerifyNewMemory
/ProfilerStart
/ProfilerStartWithOptions
