set timeout=60
set pxe_server=192.168.30.127

menuentry 'Start CCLinux Live' {
	linuxefi images/cclinux/live/vmlinuz-5.15.131-10.cl9.x86_64 ip=dhcp root=live:http://${pxe_server}/live-rootfs.squashfs.img
	initrdefi images/cclinux/live/initramfs-5.15.131-10.cl9.x86_64.img
}

menuentry 'Start CCLinux Live with Ignition' {
	linuxefi images/cclinux/live/vmlinuz-5.15.131-10.cl9.x86_64 ip=dhcp root=live:http://${pxe_server}/live-rootfs.squashfs.img ignition.firstboot ignition.platform.id=openstack ip=dhcp
	initrdefi images/cclinux/live/initramfs-5.15.131-10.cl9.x86_64.img
}
