set timeout=60
set pxe_server=192.168.30.127

menuentry 'Start Fedora Live' {
	linuxefi images/fedora/live/vmlinuz-6.14.6-300.fc42.x86_64 ip=dhcp root=live:http://${pxe_server}/live-rootfs.squashfs.img
	initrdefi images/fedora/live/initramfs-6.14.6-300.fc42.x86_64.img
}

menuentry 'Start Fedora Live with Ignition' {
	linuxefi images/fedora/live/vmlinuz-6.14.6-300.fc42.x86_64 ip=dhcp root=live:http://${pxe_server}/live-rootfs.squashfs.img ignition.firstboot ignition.platform.id=openstack ip=dhcp
	initrdefi images/fedora/live/initramfs-6.14.6-300.fc42.x86_64.img
}
