/__has_builtin
/__builtin_apply_args
/__builtin_apply
/__builtin_bswap16
/__builtin_bswap32
/__builtin_bswap64
/__builtin_clz
/__builtin_constant_p
/__builtin_cpu_supports
/__builtin_expect
/__builtin_frame_address
/__builtin_index
/__builtin_object_size
/__builtin_offsetof
/__builtin_popcount
/__builtin_prefetch
/__builtin_preserve_field_info
/__builtin_read8
/__builtin_return_address-2
/__builtin_return_address
/__builtin_rindex
/__builtin_thread_pointer
/__builtin_va_arg_pack
/__builtin___clear_cache
/__builtin_types_compatible_p
/__builtin_clzl
/__builtin_preserve_enum_value
/__builtin_memcpy
/__builtin_strlen
/__builtin_strcmp
