/__has_builtin
/apply_args
/apply
/bswap16
/bswap32
/bswap64
/clz
/constant_p
/cpu_supports
/expect
/frame_address
/index
/object_size
/offsetof
/popcount
/prefetch
/preserve_field_info
/read8
/return_address-2
/return_address
/rindex
/thread_pointer
/va_arg_pack
/__clear_cache
/types_compatible_p
/clzl
/preserve_enum_value
/memcpy
/strlen
/strcmp
