/ceil
/copysign
/sqrt
/sqrt-stress
/exp
/exp2
/fpclassify
/finite
/nan
/isgreater
/log
/log-stress
/log10
/log2
/logb
/powf
/sin
/signbit
/nextafter
/__Float32x4_t
/__Float64x2_t
/__SVFloat32_t
/__SVFloat64_t
/__SVBool_t
