/hello
/dim3
/parallel
/hcclGetVersion
/hcMalloc
/hcGetDeviceProperties
/hcDeviceGetAttribute
/hcDeviceGetP2PAttribute
/matrix-mul
/matrix-mul-double
/matrix-mul-int8
/matrix-mul-fp16
/matrix-mul-c
/matrix-mul-c-double
/blas
/blas-double
/rand
