/hello
/dim3
/parallel
/hcclGetVersion
/hcMalloc
/hcGetDeviceProperties
/hcDeviceGetAttribute
/hcDeviceGetP2PAttribute
/hcblasLtMatmul
/hcEvent
/matrix
/matrix-double
/matrix-int8
/matrix-fp16
/matrix-c
/matrix-c-double
/blas
/rand
/__GNUC__
/__STDC__
/float
/float-c
/cooperative
