/*.fatbin
/*.hcfb
/hello-hpcc
/dim3-hpcc
/parallel-hpcc
/hcclGetVersion-hpcc
/hcMalloc-hpcc
/hcMallocManaged-hpcc
/hcGetDeviceProperties-hpcc
/hcDeviceGetAttribute-hpcc
/hcDeviceGetP2PAttribute-hpcc
/hcblasLtMatmul-hpcc
/hcEvent-hpcc
/matrix-fp16-hpcc
/matrix-fp32-hpcc
/matrix-fp64-hpcc
/matrix-int8-hpcc
/matrix-c-fp32-hpcc
/matrix-c-fp64-hpcc
/rand-hpcc
/fft-hpcc
/sparse-hpcc
/__GNUC__-hpcc
/__STDC__-hpcc
/float-hpcc
/float-c-hpcc
/cooperative-hpcc
/module-hpcc
