# Folder
build/
squashfs-root
*.dir
*.mnt

# Compressed File
*.zip
*.tar
*.tar.*
*.xz
*.gz

# Object files
*.o
*.oc
*.opp
*.obj
*.oasm
*.oS
*.elf
*.d
*.dpp
*.strip
*.readelf
*.output*

# Precompiled Headers
*.gch
*.pch
*.gcov
*.gcda
*.gcno

# Libraries
*.lib
*.a
*.a.*
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Eclipse files
.cproject
.project
.settings
.metadata

# Backups
*~

# Kernel module stuff
*.ko
*.mod.c
*.ko.cmd
*.o.cmd
*.order
*.symvers
.tmp_versions
.tmp_*
tmp-*
.cache.mk
*.ko.cmd
*.o.cmd
*.mod
*.mod.c
*.mod.o
*.mod.o.cmd
*.mod.cmd
Module.symvers
modules.order
.Module.symvers.cmd
.modules.order.cmd
*.dtb
*.d.dtc.tmp
*.d.pre.tmp
*.dts.tmp
*.o.tmp

# vim temp swap file
*.swp

# perf
*perf.data*

# Python
__pycache__

# Java
*.class
*.jar

# Log
*.log
*.log.[0-9]
*.blktrace.[0-9]*

# Socket
*.sock

# Images
*.qcow2
*.raw
*.iso
*.img
*.img.[0-9]
*.disk
*.rootfs
*.initrd
vmlinux
vmlinuz
vmlinuz-*
bzImage

# Coredump and gcore generate
core-*
core.*
coredump.*
*.coredump
*.core
!core*.c

# Binary and data
*.Binary
*.dat
*.bin

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# LVM, Filesystem File
*.ext4
*.ext3
*.ext2
*.vg
*.xfs
*.fat
*.vfat
*.fs

# Grub/EFI/BIOS/EDK2/OVMF
*.efi
*.EFI
*.fd

# OS
os-release
*.rpm
*.deb
*.exe

# Temp File
vmlinux.h
*.skel.h
.bash_history
.bashrc
~*

# Crypt. like gnupg, ssl, etc.
*.asc
*.cer
*.gpg
*.pem
*.sig
*.sign

# Debug
*.debug
*.dbg

# Draw
*.drawio.bkp

# Patches
*.patch

# Config
.config
!*.ld.so.conf

# PID lock file
*.pid
