# CONFIG_ARM64_BTI_KERNEL is not set
CONFIG_ANON_VMA_NAME=
CONFIG_ARCH_HAS_SYSCALL_WRAPPER=y
CONFIG_BPF_KPROBE_OVERRIDE=
CONFIG_BPF_LSM=y
CONFIG_BPF_SYSCALL=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_DEVMEM=y
CONFIG_DYNAMIC_MEMORY_LAYOUT=y
CONFIG_SCHED_SMT=y
CONFIG_STRICT_DEVMEM=y
CONFIG_HAVE_FENTRY=y
# CONFIG_KASAN is not set
CONFIG_KPROBES=y
CONFIG_LIBNVDIMM=m
CONFIG_LIVEPATCH=
CONFIG_MEMFD_CREATE=y
CONFIG_MMU=y
# CONFIG_MODULE_FORCE_LOAD is not set
# CONFIG_MODVERSIONS is not set
CONFIG_NET_9P=m
CONFIG_NET_9P_FD=m
CONFIG_NET_9P_VIRTIO=m
CONFIG_NET_9P_XEN=m
CONFIG_NET_9P_USBG=m
CONFIG_NET_9P_RDMA=m
CONFIG_NVDIMM_DAX=y
CONFIG_NVDIMM_KEYS=y
CONFIG_NVDIMM_PFN=y
# CONFIG_NVDIMM_SECURITY_TEST is not set
CONFIG_PERF_EVENTS=y
# CONFIG_PREEMPT_RCU can preempt RCU read-side critical sections
CONFIG_PREEMPT_RCU=y
# CONFIG_PREEMPT_RT is not set
CONFIG_PREEMPTION=y
# CONFIG_RCU_CPU_STALL_CPUTIME is not set
CONFIG_RCU_CPU_STALL_TIMEOUT=60
CONFIG_RCU_EXP_CPU_STALL_TIMEOUT=0
# linux commit e035e8876e6c ("rcu: Remove CONFIG_SRCU") v6.3-rc1-1-ge035e8876e6c
CONFIG_SRCU=y # the sleepable version of RCU
# CONFIG_TINY_RCU is not set
# CONFIG_TINY_SRCU is not set
CONFIG_TRACEPOINTS=y
CONFIG_TREE_RCU=y # for very large SMP
CONFIG_TREE_SRCU=y # the sleepable version of TREE RCU
CONFIG_VHOST_VSOCK=m
CONFIG_VIRTIO_FS=m
CONFIG_VSOCKETS=m
CONFIG_VSOCKETS_DIAG=m
CONFIG_VSOCKETS_LOOPBACK=m
CONFIG_VSOCKMON=m
