# CONFIG_ARM64_BTI_KERNEL is not set
CONFIG_BLK_DEV_PMEM=m
CONFIG_DAX=y
CONFIG_DEV_DAX=m
CONFIG_DEV_DAX_PMEM=m
CONFIG_DEV_DAX_HMEM=m
CONFIG_DEV_DAX_HMEM_DEVICES=y
CONFIG_DEV_DAX_KMEM=m
CONFIG_DYNAMIC_MEMORY_LAYOUT=y
CONFIG_FS_DAX=y
CONFIG_FS_DAX_PMD=y
CONFIG_FUSE_DAX=y
# CONFIG_KASAN is not set
