/fp6-nv
/fp6-hip
/fp6-hpcc
/fp8-nv
/fp8-hip
/fp8-hpcc
/half-nv
/half-hip
/half-hpcc
/bfloat16-nv
/bfloat16-hip
/bfloat16-hpcc
/float-nv
/float-hip
/float-hpcc
/double-nv
/double-hip
/double-hpcc
/fp128-nv
/fp128-hip
/fp128-hpcc
