/fp4
/fp4-hip
/fp4-hpcc
/fp4-luca
/fp6
/fp6-hip
/fp6-hpcc
/fp6-luca
/fp8
/fp8-hip
/fp8-hpcc
/fp8-luca
/half
/half-hip
/half-hpcc
/half-luca
/bfloat16
/bfloat16-hip
/bfloat16-hpcc
/bfloat16-luca
/float
/float-hip
/float-hpcc
/float-luca
/complex
/complex-hip
/complex-hpcc
/complex-luca
/double
/double-hip
/double-hpcc
/double-luca
/fp128
/fp128-hip
/fp128-hpcc
/fp128-luca
/int
/int-hip
/int-hpcc
/int-luca
/simd
/simd-hip
/simd-hpcc
/simd-luca
