/fp6-nv
/fp6-hip
/fp6-hpcc
/fp6-luca
/fp8-nv
/fp8-hip
/fp8-hpcc
/fp8-luca
/half-nv
/half-hip
/half-hpcc
/half-luca
/bfloat16-nv
/bfloat16-hip
/bfloat16-hpcc
/bfloat16-luca
/float-nv
/float-hip
/float-hpcc
/float-luca
/double-nv
/double-hip
/double-hpcc
/double-luca
/fp128-nv
/fp128-hip
/fp128-hpcc
/fp128-luca
