/sig.h
/sigaction
/sigaction-2
/sigaction-3
/signo
/signal
/sigwait
/sigaddset
/psignal
/raise
/kill
/kill-fork
/killpg
/SIGFPE
/SIGHUP
/NSIG
/SIGALRM
/SIGUSR[1|2]
/SIGUSR1-1
/SIGCHLD
/SIGRTMAX
/SIGPIPE
/SIGBUS
/strsignal
/alarm
/alarm-sleep
/alarm-sleep-2
/sigaltstack
/sigpending
/sigsuspend
/sigprocmask
/signalfd
/SIGILL
