/config-map
/socket_filter
/kprobe
/fentry
/tracepoint
/raw_tracepoint
/tp_btf
/tc
/xdp
/perf_event
/sockops
/cgroupv2
/sk_skb
/sk_msg
/cgroup_device
/cgroup_sysctl
/fmod_ret
/iter_task
/iter_task_file
/iter_task_vma
/iter_bpf_map
/lsm_bpf
/lsm_socket_create
/map_hash
