/.output
/libbpf_version
/config-map
/socket_filter
/kprobe
/fentry
/tracepoint
/raw_tracepoint
/tp_btf
/tc
/xdp
/xdp_simple
/xdp_devmap
/xdp_cpumap
/xdp_xskmap
/xdp_dos
/perf_event
/sockops
/cgroupv2
/sk_skb
/sk_msg
/cgroup_device
/cgroup_sysctl
/fmod_ret
/iter_task
/iter_task_file
/iter_task_vma
/iter_bpf_map
/iter_kmem_cache
/lsm_bpf
/lsm_socket_create
/lsm_socket_sendmsg
/map_hash
/map_percpu_hash
/map_array
/map_percpu_array
/map_lru_hash
/map_lru_percpu_hash
