/LINUX_VERSION_CODE
/_POSIX*_SOURCE
/_XOPEN_SOURCE
/__ASSEMBLER__
/__FILE__
/__GLIBC_MINOR__
/__GLIBC_PREREQ
/__GLIBC_USE
/__GLIBC__
/__GNUC_PREREQ
/__GNUC__
/__STDC__
/__TIME__
/__VERSION__
/__WORDSIZE
/__WORDSIZE-32
/__aarch64__
/__clang__
/__cplusplus
/__cplusplus-std98
/__func__
/__has_include
/__i386__
/__linux__
/__loongarch64
/__nonnull
/__restrict__
/__stringify
/__user
/__x86_64__
/alias
/align
/arch
/bit
/container_of
/ident
/likely
/likely.[1-9]
/machine
/offsetof
/os
/splice
