/align
/arch
/alias
/bit
/likely
/likely.[1-9]
/offsetof
/__clang__
/__i386__
/__x86_64__
/__aarch64__
/__nonnull
/__cplusplus
/__restrict__
/__func__
/__linux__
/__WORDSIZE
/__WORDSIZE-32
/__VERSION__
/__TIME__
/__FILE__
/machine
/__ASSEMBLER__
/ident
/__GNUC__
/__has_include
/__user
/__stringify
/*-macros.h
/__STDC__
/_XOPEN_SOURCE
/_POSIX*_SOURCE
