/eaccess
/execl
/execle
/execlp
/execv
/execvp-fork
/execvp-timedrun
/execvp
/getcwd
/getpagesize
/ttyname
/ttyname_r
/daemon
/getdents64
/ualarm
/tc[sg]etpgrp
/execve-spawn
/pathconf
/cuserid
/lockf
/lockf-nolock
/isatty
/getwd
/getusershell
/getpass
/getdtablesize
/get_current_dir_name
/fexecve
/date.txt
/_exit
/gethostid
/getopt
