/cuserid
/daemon
/date.txt
/eaccess
/execl
/execle
/execlp
/execv
/execve-spawn
/execvp
/execvp-fork
/execvp-timedrun
/_exit
/fexecve
/get_current_dir_name
/getcwd
/getdents64
/getdtablesize
/gethostid
/getopt
/getpagesize
/getpass
/getusershell
/getwd
/isatty
/lockf
/lockf-nolock
/pathconf
/tc[sg]etpgrp
/ttyname
/ttyname_r
/ualarm
/usleep
