/*.ipa-clones
/*.gimple
/*.s
/fcf-protection
/fpatchable-function-entry
/fwpa
/fltrans
/fwhole-program
/fstack-protector
/fstack-protector-all
/fstack-protector-strong
/fstack-protector-explicit
/fdump-ipa-all
/fdump-ipa-all.c.*
/fdump-ipa-clones
/fdump-tree-gimple
/fdump-tree-all
/fdump-tree-all.c.*
/fdump-tree-all-raw
/fdump-tree-all-raw.c.*
/finput-charset
/fno-zero-initialized-in-bss
/fzero-initialized-in-bss
/fplt
/fno-plt
/fuse-ld
/fsanitize
/fsanitize_cpp
