/fcf-protection
/ffat-lto-objects
/fpatchable-function-entry
/fwpa
/flto
/fstack-protector
/fstack-protector-all
/fstack-protector-strong
/fstack-protector-explicit
/fdump-ipa-all
/fdump-ipa-all.c.*
/fdump-ipa-clones
/fdump-tree-gimple
/fdump-tree-all
/fdump-tree-all.c.*
/fdump-tree-all-raw
/fdump-tree-all-raw.c.*
/*.ipa-clones
/*.gimple
/*.s
