/fcf-protection
/ffat-lto-objects
/fpatchable-function-entry
/flto
/fstack-protector
/fstack-protector-all
/fstack-protector-strong
/fstack-protector-explicit
/fdump-ipa-all
/fdump-ipa-all.c.*
/fdump-ipa-clones
/*.ipa-clones
/*.s
