# $ journalctl -xeu sphinx-serve-tl.service -f

[Unit]
Description=Test Linux Documentation Loadhost Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/sphinx-serve-tl
Restart=on-failure
