/bcopy
/index
/memchr
/memcpy
/memcpy-stress
/__memcpy_ssse3-stress
/__memcpy_generic-stress
/memset
/memset-stress
/memmove
/stpcpy
/strcat
/strchr
/strcpy
/strcmp
/strdupa
/strdup
/strlen
/strncpy
/strpbrk
/strsep
/strtok
/strtol
/sig.h
/strsignal
/strerror
/strerror_r
/strstr
