/cr3
/echo
/hello-puts
/hello
/hello-c
/hello-stack
/hola
/power
/fibonacci
/factorial_call
/maxofthree_call
/while
/atomic_forced_read
/time
/nanosleep
/nanosleep-c
/*.s
/printf-main
/read-main
/write-main
/exit-c
/write-c
