/cr3
/echo
/hello-puts
/hello
/hello-c
/hello-stack
/hola
/power
/average
/fibonacci
/factorial_call
/maxofthree_call
/while
/out
/atomic_forced_read
/time
/nanosleep
/nanosleep-c
/printf
/read
/write
/exit-c
/write-c
/write-c-loop
/out-c
/puts-c
/puts-c-loop
/puts
/putchar
