/cr3
/echo
/hello-puts
/hello
/hello-c
/hello-stack
/hola
/power
/fibonacci
/factorial_call
/maxofthree_call
/while
/out
/atomic_forced_read
/time
/nanosleep
/nanosleep-c
/*.s
/printf-main
/read-main
/write-main
/exit-c
/write-c
/write-c-loop
/out-c
/puts-c
/puts-c-loop
/puts-main
/putchar-main
