/attribute-nv
/attribute-hip
/attribute-hpcc
/attribute-luca
/cooperative-nv
/cooperative-hip
/cooperative-hpcc
/cooperative-luca
/device-nv
/device-hip
/device-hpcc
/device-luca
/dim3-nv
/dim3-hip
/dim3-hpcc
/dim3-luca
/event-nv
/event-hip
/event-hpcc
/event-luca
/*.fatbin
/float-nv
/float-c
/float-hip
/float-hpcc
/float-luca
/__GNUC__-nv
/__GNUC__-hip
/__GNUC__-hpcc
/__GNUC__-luca
/*.hcfb
/graph-nv
/graph-hip
/graph-hpcc
/graph-luca
/hello-nv
/hello-hip
/hello-hpcc
/hello-luca
/malloc-nv
/malloc-hip
/malloc-hpcc
/malloc-luca
/mallocHost-nv
/mallocHost-hip
/mallocHost-hpcc
/mallocHost-luca
/mallocManaged-nv
/mallocManaged-hip
/mallocManaged-hpcc
/mallocManaged-luca
/matrix-c-fp32
/matrix-c-fp64
/matrix-fp16-nv
/matrix-fp16-hip
/matrix-fp16-hpcc
/matrix-fp16-luca
/matrix-fp32-nv
/matrix-fp32-hip
/matrix-fp32-hpcc
/matrix-fp32-luca
/matrix-fp64-nv
/matrix-fp64-hip
/matrix-fp64-hpcc
/matrix-fp64-luca
/matrix-int8-nv
/matrix-int8-hip
/matrix-int8-hpcc
/matrix-int8-luca
/memory-nv
/memory-hip
/memory-hpcc
/memory-luca
/module-nv
/module-hip
/module-hpcc
/module-luca
/p2p-nv
/p2p-hip
/p2p-hpcc
/p2p-luca
/parallel-nv
/parallel-hip
/parallel-hpcc
/parallel-luca
/properties-nv
/properties-hip
/properties-hpcc
/properties-luca
/rtc-nv
/rtc-hip
/rtc-hpcc
/rtc-luca
/stream-nv
/stream-hip
/stream-hpcc
/stream-luca
/version-nv
/version-hip
/version-hpcc
/version-luca
/__STDC__-nv
/__STDC__-hip
/__STDC__-hpcc
/__STDC__-luca
