/dim3
/dim3-hip
/blas
/blas-hip
/blas-hpcc
/hello
/hello-hip
/parallel
/parallel-hip
/cudaMalloc
/hipMalloc-hip
/cudaMallocManaged
/hipMallocManaged-hip
/cudaGetDeviceCount
/hipGetDeviceCount-hip
/hcGetDeviceCount-hpcc
/cudaGetDeviceProperties
/hipGetDeviceProperties-hip
/cudaDeviceGetP2PAttribute
/hipDeviceGetP2PAttribute-hip
/cudaDeviceGetAttribute
/cudaEvent
/hipEvent-hip
/cublasLtMatmul
/hipblasLtMatmul-hip
/matrix-fp16
/matrix-fp32
/matrix-fp32-hip
/matrix-fp64
/matrix-int8
/matrix-c-fp32
/matrix-c-fp64
/rand
/rand-hip
/fft
/fft-hip
/sparse
/sparse-hip
/__GNUC__
/__GNUC__-hip
/__STDC__
/cooperative
/cooperative-hip
/module
/module-hip
/float
/float-hip
/float-c
/*.fatbin
/*.hcfb
/hello-hpcc
/dim3-hpcc
/parallel-hpcc
/hcclGetVersion-hpcc
/ncclGetVersion-hip
/hcMalloc-hpcc
/hcMallocManaged-hpcc
/hcGetDeviceProperties-hpcc
/hcDeviceGetAttribute-hpcc
/hcDeviceGetP2PAttribute-hpcc
/hcblasLtMatmul-hpcc
/hcEvent-hpcc
/matrix-fp16-hpcc
/matrix-fp32-hpcc
/matrix-fp64-hpcc
/matrix-int8-hpcc
/rand-hpcc
/fft-hpcc
/sparse-hpcc
/__GNUC__-hpcc
/__STDC__-hpcc
/float-hpcc
/cooperative-hpcc
/module-hpcc
/ncclGetVersion
