/add-x86
/breakpoint
/bswapl
/bswapq
/bts
/cpuid_user
/div
/fsin
/invalid_opcode_user
/memset
/_mm_clflush
/mrs
/nop
/prefetch
/rdmsr
/rdrand
/rdseed
/rdtsc_cmp
/rdtsc_evil
/rdtscp_user
/rdtsc_user
/ret
/rte_memcpy
/simd
/stosb
/syscall
/udiv
/vgetbv
