/bts
/invalid_opcode_user
/cpuid_user
/rdtsc_user
/rdtscp_user
/rdtsc_cmp
/rdtsc_evil
/fsin
/bswapl
/bswapq
/_mm_clflush
/rte_memcpy
/vgetbv
/stosb
/memset
/nop
/rdmsr
/mrs
/simd
/rdrand
/rdseed
/prefetch
/udiv
/div
/add-x86
/ret
