/access
/alias
/aligned
/alloc_align
/always_inline
/cleanup
/cold
/const
/constructor
/__counted_by__
/deprecated
/error
/__fallthrough__
/format
/__gnu_inline__
/__has_attribute
/kernel_helper
/__mode__
/__naked__
/nocf_check
/__noclone__
/noinline
/no_instrument_function
/nonnull
/nonstring
/noplt
/noplt-plt
/noreturn
/optimize
/optimize_omit-frame-pointer
/packed
/preserve_access_index
/__pure__
/randomize_layout
/__retain__
/*.s
/section-initcall
/section-readmostly
/vector_size
/visibility
/weak
/warning
