/*.s
/alias
/always_inline
/noinline
/cleanup
/const
/constructor
/deprecated
/error
/format
/__gnu_inline__
/__naked__
/nocf_check
/nonnull
/noreturn
/optimize_omit-frame-pointer
/__pure__
/randomize_layout
/section-initcall
/section-readmostly
/vector_size
/weak
/noplt
/noplt-plt
/kernel_helper
/optimize
/__has_attribute
/preserve_access_index
/__mode__
