/create_thread
/dead_lock-[0-9]
/pthread_atfork
/pthread_attr_setstacksize
/pthread_attr_setstack-[0-9]
/pthread_attr_init
/pthread_barrier_init
/pthread_cancel
/pthread_setcancelstate
/pthread_testcancel
/pthread_create
/pthread_create-deadline
/pthread_exit
/pthread_key_create
/pthread_join-coredump
/pthread_join
/pthread_getname_np
/pthread_setname_np
/pthread_setspecific
/pthread_self
/pthread_once
/pthread_yield
/tls
/*.log
