/*.ll
/*.bc
/*.llc.s
/*.obj.s
/*.S.o
/*.os
/sum
/sum-avx
/sum-avx2
/cpu-features
/test-asm
/avx512_aux
/mul-avx256
/mul-avx512
/add_pd-avx256
/add_pd-avx512
/add-2dim
/mask
/vperm2i128
/vfmadd231ps
/kxord
/ctrl_flow-f4
/reducetion-f4
/add-unalign-f4
/cvt-df
