CONFIG_RDS_RDMA=m
CONFIG_NET_9P_RDMA=m
CONFIG_NVME_RDMA=m
CONFIG_NVME_TARGET_RDMA=m
CONFIG_QED_RDMA=y
CONFIG_INFINIBAND_ERDMA=m
CONFIG_INFINIBAND_IRDMA=m
CONFIG_INFINIBAND_OCRDMA=m
CONFIG_INFINIBAND_VMWARE_PVRDMA=m
CONFIG_INFINIBAND_RDMAVT=m
CONFIG_RDMA_RXE=m
CONFIG_RDMA_SIW=m
CONFIG_SUNRPC_XPRT_RDMA=m
