# Anaconda will find /run/install/ks.cfg first during installation, so i we add
# that kickstart file into images/product.img, when select the "Install" item,
# automatic trigger kickstart installation.
#
# Copyright (C) 2022-2026 Rong Tao
#
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
cdrom
# reboot --eject
firstboot --enable
timezone Asia/Shanghai --utc

###############################################################################
# start network
%include /run/install/network.ks
%pre --logfile=/tmp/preinstall-network.log
#!/bin/bash
# Use to generate /run/install/network.ks file

KS_NETWORK=/run/install/network.ks

if [[ -e $KS_NETWORK ]]; then
	echo "Use DNF repo kickstart $KS_NETWORK"
	exit 0
fi

cat > $KS_NETWORK<<-END
# Default DHCP
network --bootproto=dhcp
END
%end
# end of network
###############################################################################

###############################################################################
# start DNF repos
%include /run/install/repos.ks
%pre --logfile=/tmp/preinstall-repos.log
#!/bin/bash
# Use to generate /run/install/repos.ks file

KS_REPOS=/run/install/repos.ks

if [[ -e $KS_REPOS ]]; then
	echo "Use DNF repo kickstart $KS_REPOS"
	exit 0
fi

# Default: None
echo > $KS_REPOS
%end
# end of DNF repos
###############################################################################


###############################################################################
# start specify packages to install
%include /run/install/packages.ks
%pre --logfile=/tmp/preinstall-packages.log
#!/bin/bash
# Use to generate /run/install/packages.ks file

KS_PACKAGES=/run/install/packages.ks

if [[ -e $KS_PACKAGES ]]; then
	echo "Use packages kickstart $KS_PACKAGES"
	exit 0
fi

# Default: Minimal Installation
echo "%packages" > $KS_PACKAGES
echo "@^minimal-environment" >> $KS_PACKAGES
echo "%end" >> $KS_PACKAGES
%end
# end of %packages
###############################################################################


###############################################################################
# start: disk partition
%include /run/install/partition.ks
%pre --logfile=/tmp/preinstall-partition.log
#!/bin/bash
# Use to generate /run/install/partition.ks file

KS_PARTITION=/run/install/partition.ks

if [[ -e $KS_PARTITION ]]; then
	echo "Use partition kickstart $KS_PARTITION"
	exit 0
fi

target_disk=$(/usr/sbin/get_smallest_disk)
# Default: autopart
cat > $KS_PARTITION<<-END
# Choise the smallest disk as target disk, autopart at the same time
clearpart --all --initlabel
ignoredisk --only-use=${target_disk}
autopart
END
%end
# end: disk partition
###############################################################################


###############################################################################
# Start User Config
rootpw --lock
%include /run/install/user.ks
%pre --logfile=/tmp/preinstall-user.log
#!/bin/bash
# Use to generate /run/install/user.ks file

KS_USER=/run/install/user.ks

if [[ -e $KS_USER ]]; then
	echo "Use custom user kickstart $KS_USER"
	exit 0
fi
# Default: Nopassword ccadmin
cat > $KS_USER<<-END
user --groups=wheel --name=ccadmin --gecos="CCAdmin"
END
%end
# End User Config
###############################################################################
