/*.txt
/fallocate
/faccessat2
/fdopen
/[g|s]etrlimit
/nr
/nr.h
/open
/openat2
/opendir
/pause
/pidfd_open
/pipe
/readlink
/readlink[0-9]
/getcwd
/getpid
/setgid
/setegid
/setuid
/seteuid
/sched_getaffinity
/inotify_init
/tee
/tee2
/os-release
/get_thread_area
/clone
/setitimer
/flock
/flock-2
/flock-3
/testfile
/tmpfs
