/access
/acct
/fallocate
/faccessat2
/fdopen
/fork
/vfork
/[g|s]etrlimit
/ulimit
/nr
/nr.h
/open
/openat2
/opendir
/pause
/pidfd_open
/pipe
/readlink
/readlink[0-9]
/getcwd
/getpid
/setgid
/setegid
/setuid
/seteuid
/tee
/tee2
/os-release
/get_thread_area
/clone
/setitimer
/unlink
/uname
/userfaultfd
/symlink
/execve
/execve-fork
/sysctl
/kcmp
/*.txt
/tmp-*
