/acct
/chdir
/chown
/dup-dup2
/fchown
/fchownat
/fchdir
/fdopen
/nr
/nr.h
/opendir
/pause
/pidfd_open
/readlink
/readlink[0-9]
/getcwd
/gettid
/getpid
/getpgid
/setgid
/setegid
/setregid
/setpgid
/setpgid-fork
/[s|g]etuid
/seteuid
/setreuid
/setpgrp
/tee
/tee2
/os-release
/close
/close_range
/setitimer
/rmdir
/unlink
/uname
/userfaultfd
/symlink
/execve
/execve-fork
/sysctl
/syscall
/kcmp
/readdir
/read
/getdents
/*.txt
/tmp-*
/getgroups
/[sg]ethostname
/[sg]ethostid
/vhangup
/sync
/syncfs
/setsid
/getsid
/getdomainname
/lseek
/link
/fsync
/fdatasync
/sync_file_range
/getpagesize
/rename
/ioprio_get
/ioprio_set
/personality
