/atof
/abort
/atexit
/mkdtemp
/mktemp
/mkstemp
/env
/setenv
/getenv
/clearenv
/putenv
/unsetenv
/tmpd-*
/rand
/random
/random-dev
/srand
/srandom
/bsearch
/qsort
/getloadavg
/system
/posix_memalign
/valloc
/unlockpt
/strtod
/strtof
/strtol
/strtold
/strtoul
/setkey
/rpmatch
/ptsname
/on_exit
/mkostemp
/l64a
/initstate
/grantpt
/getpt
/getsubopt
/ecvt
/fcvt
/gcvt
/_Exit
/aligned_alloc
/open_pty_pair
/div
/demo-qsort-bsearch
