set default="0"

insmod gzio
insmod part_gpt
insmod ext2

set gfxpayload=keep

set timeout=60
#set debug=all

set root=(cd)

search --no-floppy --set=root -l 'grub2'

menuentry "Start OS" --class gnu-linux --class gnu --class os {
	linux /boot/kernel rd.break ro
	initrd /boot/initrd.img
	boot
}

menuentry "Start OS (quiet)" --class gnu-linux --class gnu --class os {
	linux /boot/kernel rd.break quiet ro
	initrd /boot/initrd.img
	boot
}
