set default="0"
#set debug=all

insmod gzio
insmod part_gpt
insmod ext2

set gfxpayload=keep

set timeout=60

menuentry "Start Initramfs (debug)" --class gnu-linux --class gnu --class os {
	linux ($boot)/vmlinuz rd.break ro systemd.log_level=debug debug loglevel=7
	initrd ($boot)/initrd.img
	boot
}

menuentry "Start Initramfs (quiet)" --class gnu-linux --class gnu --class os {
	linux ($boot)/vmlinuz rd.break quiet ro
	initrd ($boot)/initrd.img
	boot
}

submenu 'Troubleshooting -->' {
	menuentry 'Submenu entry1' --class gnu-linux --class gnu --class os {
		linux ($boot)/vmlinuz rd.break ro
		initrd ($boot)/initrd.img
		boot
	}
	menuentry 'Submenu entry2' --class gnu-linux --class gnu --class os {
		linux ($boot)/vmlinuz rd.break ro
		initrd ($boot)/initrd.img
		boot
	}
}
