/mallopt
/mallinfo
/posix_memalign
/aligned_alloc
/valloc
/malloc
/overflow
/use-after-free
/double-free
/malloc_get_state
/malloc_info
/malloc_info.xml
/malloc_stats
/realloc
/malloc_trim
/corrupted-size-vs.prev_size
/malloc_usable_size
/memalign
/pvalloc
