/main
/add
/branch
/mov
/add-c
/exit
/exit-main
/exit-c
/hello
/hello-stack
/hello-puts
/hello-puts-infinite-loop
/hello-main
/read-main
/puts-main
/printf-main
/hello_sve
/say_hello
/loop-c
/daxpy
/while
/puts
/ldr
/*.co
/paciasp
/paciasp-c
/nanosleep
/nanosleep-c
