/adrp
/main
/add
/branch
/mov
/add-c
/exit
/exit-c
/hello
/hello-stack
/hello-puts
/hello-puts-infinite-loop
/read
/printf
/hello_sve
/say_hello
/loop
/daxpy
/while
/puts
/puts-c
/ldr
/*.co
/paciasp
/paciasp-c
/nanosleep
/nanosleep-c
/write
/write-loop
