/atomic
/barrier
/critical
/default
/firstprivate
/flush
/lastprivate
/lock
/master
/masked
/memory
/nowait
/omp_get_thread_num
/omp_set_nested_1
/omp_set_nested_2
/omp_set_nest_lock
/omp_set_num_threads
/ordered
/parallel_for
/pragma_omp_atomic
/pragma_omp_barrier
/pragma_omp_critical
/pragma_omp_parallel_copyin
/pragma_omp_parallel_for_reduction
/private
/private_firstprivate_lastprivate_threadprivate
/reduction
/schedule_dynamic
/schedule_guided
/schedule_runtime
/schedule_sections_single_master_nowait
/schedule_static
/sections_section
/shared
/simd
/single
/threadprivate
/threadprivate_copyin
/threadprivate_copyprivate
/omp_set_lock
/omp_test_lock
/omp_test_nest_lock
/omp_set_max_active_levels
/omp_in_parallel
/omp_get_active_level
/omp_get_ancestor_thread_num
/omp_destroy_nest_lock
/omp_get_schedule
/omp_get_level
/omp_get_max_threads
/omp_get_nested
/omp_get_num_procs
/omp_get_thread_limit
/omp_get_team_size
/omp_get_wtick
