/atomic
/barrier
/critical
/default
/firstprivate
/flush
/lastprivate
/lock
/master
/memory
/nowait
/omp_get_thread_num
/omp_set_nested_1
/omp_set_nested_2
/omp_set_nest_lock
/ordered
/parallel_for
/pragma_omp_atomic
/pragma_omp_barrier
/pragma_omp_critical
/pragma_omp_parallel_copyin
/pragma_omp_parallel_for_reduction
/private
/private_firstprivate_lastprivate_threadprivate
/reduction
/schedule_dynamic
/schedule_guided
/schedule_runtime
/schedule_sections_single_master_nowait
/schedule_static
/sections_section
/shared
/simd
/single
/threadprivate_copyin
/threadprivate_copyprivate
