/a2d_ASN1_OBJECT
/a2i_ASN1_INTEGER
/a2i_ASN1_STRING
/asc2uni
/ASN1_BIT_STRING_get_bit
/ASN1_d2i_bio
/ASN1_ENUMERATED_get
/ASN1_ENUMERATED_to_BN
/ASN1_i2d_bio
/ASN1_parse_dump
/ASN1_STRING_cmp
/i2a_ASN1_INTEGER
/i2a_ASN1_STRING
