/test1
/load-store
/load-store-atomic-relaxed
/load-store-atomic-strict
/exchange
/compare_exchange
/fetch
/__ATOMIC_
/__atomic_test_and_set
/__atomic_clear
/__atomic_thread_fence
/__atomic_signal_fence
/__atomic_always_lock_free
