/gai_strerror
/getaddrinfo
/gethostbyaddr
/gethostbyname
/gethostbyname-2
/gethostbyname_r
/hstrerror
/setservent
/setnetent
/sethostent
/innetgr
/getservbyport
/getservbyname
/getprotoent
/getprotobynumber
/getprotobyname
/getipnodebyname
/getnetbyname
/herror
/getnameinfo
