/cpuset
/CPU_SETSIZE
/CPU_ALLOC
/str2cpuset
/getcpu
/sched_setattr
/sched_get_priority_max
/sched_get_priority_min
/sched_getaffinity
/sched_getcpu
/sched_setscheduler
/sched_getscheduler
/sched_getparam
/sched_setparam
/sched_yield
/nice
/fork
/fork-share
/vfork
/setns
/taskset
/sched_rr_get_interval
/unshare
/unshare-execve
/policy
/nice-latency
