/__freadable
/ansi_ascii
/asprintf
/ctermid
/fgets
/fopen
/fopencookie
/fread
/fscanf
/ftell
/fwrite
/getchar
/getdelim
/getline
/open_memstream
/perror
/popen
/printf
/puts
/remove
/scanf
/setbuf
/setvbuf
/snprintf
/sprintf
/sscanf
/stdin
/tempnam
/tmpfile
/tmpnam
/vasprintf
/vfprintf
/vprintf
/vsprintf
