/ansi_ascii
/asprintf
/vasprintf
/vfprintf
/vsprintf
/printf
/vprintf
/puts
/__freadable
/open_memstream
/remove
/popen
/fwrite
/getchar
/getline
/getdelim
/scanf
/sscanf
/perror
/tmpfile
/ctermid
/tmpnam
/tempnam
/snprintf
/setbuf
/setvbuf
/fgets
/fopen
/fread
/fopencookie
