/ansi_ascii
/asprintf
/vasprintf
/vfprintf
/vsprintf
/printf
/vprintf
/puts
/__freadable
/open_memstream
/remove
/popen
/fwrite
/getchar
/scanf
/sscanf
/perror
/tmpfile
/ctermid
/tmpnam
/tempnam
/snprintf
