/__GNUC__
/hello
/parallel
/sparse
/fft
/rand
/module
/matrix-fp32
/dim3
/cooperative
/hipEvent
/hipMalloc
/hipMallocManaged
/hipGetDeviceProperties
/hipGetDeviceCount
/hipDeviceGetP2PAttribute
/hipblasLtMatmul
